body {
    background-image: url(/static/images/bac.jpg);
    height: 500px;
    background-color: aqua;
    background-position: center;
    background-size: cover;
    
    }
h1 {
        color: rgb(190, 52, 17);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style:normal;
        font-weight: bold;
        text-align: center;

    }